<div class="body-wrapper">
    <div *ngIf="version$ | async; let version" class="container-fluid">

        <!-- Top Nav -->
        <app-top-nav></app-top-nav>
        <!-- End Top Nav -->

        <div class="main-content d-flex flex-direction-row" id="main-content">
            <!-- Side Nav -->
            <app-side-nav [version]="version"></app-side-nav>
            <!-- EndSide Nav -->

            <!-- Content Wrapper -->
            <div *ngIf="post$ | async let post" class="content-wrapper">

                <!-- Post -->
                <app-post [post]="post" [version]="version"></app-post>
                <!-- End Post -->

                <!-- Post Navigator -->
                <app-navigator [data]="{ version: version, post: post }"></app-navigator>
                <!-- End Post Navigator -->
            </div>
            <!-- End Content Wrapper -->

            <!-- Section Nav -->
            <app-section-nav *ngIf="post$ | async let post" [post]="post" [version]="version"></app-section-nav>
            <!-- Section Nav -->
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End Footer -->
    </div>
</div>
