<div class="body-wrapper">
    <div class="container-fluid">

        <!-- Top Nav -->
        <app-top-nav></app-top-nav>
        <!-- End Top Nav -->

        <div class="main-content d-flex flex-direction-row" id="main-content">
            <!-- Side Nav -->
            <app-side-nav></app-side-nav>
            <!-- EndSide Nav -->

            <!-- Content Wrapper -->
            <div class="content-wrapper">

                <!-- Post -->
                <app-post></app-post>
                <!-- End Post -->

                <!-- Post Navigator -->
                <app-navigator></app-navigator>
                <!-- End Post Navigator -->
            </div>
            <!-- End Content Wrapper -->

            <!-- Section Nav -->
            <app-section-nav></app-section-nav>
            <!-- Section Nav -->
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End Footer -->
    </div>
</div>
