/* Theme */
$theme-color: #6b00b1 !default;
$logo-text-font-size: 1.25rem !default;
$anchor-color: #ffffff !default;
$anchor-hover-color: $theme-color !default;
$anchor-inactive-color: #717378 !default;

/* Top Navbar */
$top-navbar-height: 3rem !default;
$top-navbar-logo-img-width: 50px !default;
$top-navbar-logo-img-height: 50px !default;
$top-navbar-color: #ffffff !default;

/* Side Nav */
$side-nav-width: 260px;

/* Section Nav */
$section-nav-width: 200px;

/* Footer */
$footer-bg: #20232a !default;
$footer-color: #ffffff !default;
