/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

/* Reset body styles*/
body {
  padding: 0;
  margin: 0;
}

/* Body Wrapper ========================================================*/

.body-wrapper {
  padding-top: 3rem;
}

/* Body Wrapper =====================================================*/

/* Top Nav */

.top-nav {
  .navbar {
    display: inline-block;

    &.navbar-right {
      display: flex;
      float: right;
    }

    .logo {
      .logo-text {
        margin-left: 1rem;
      }
    }
  }
}

/* End Top Nav */

/* Side Nav */

.side-nav {
  position: sticky;
  top: 3rem;
  max-height: calc(100vh - 3rem);
  max-width: 232px;
  min-width: 232px;
  overflow-y: auto;
  .navbar {
    display: block;
    overflow-y: auto;
  }
}

/* End Side Nav */

/* Content Wrapper */
.content-wrapper {
  padding: 2rem;
}
/* End Content Wrapper */

/* Post */

.post {
  .post-header {
    .post-header-text {
      display: inline-block;
    }

    .edit-button {
      float: right;
    }
  }
}

/* End Post */

/* Doc Navigator */

.doc-prev-next {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

/* Doc Navigator */

/* Doc Indicator */

.section-nav {
  position: sticky;
  top: 5rem;
  right: 0;
  left: auto;
  max-height: calc(100vh - 3rem);
  max-width: 232px;
  min-width: 232px;
  overflow-y: auto;
  .navbar {
    display: block;
    padding-left: 0;
    border-left: 1px solid #eee;
  }
}

/* End Doc Indicator */

/* Footer */

.footer {
  margin-bottom: 1rem;
  .footer-links {
    margin-bottom: 2rem;
    .navbar {
      display: flex;
      flex-direction: row;
    }
  }

  .footer-copy-right {
    display: flex;
    justify-content: center;
  }
}

/* End Footer */
