<app-post [title]="'Getting Started'" [route]="route">

    <!-- Article -->
    <ng-container class="article">
        <h1 id="section1">Section 1 anchor Edited.......</h1>
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        <h1 id="section2">Section 2 anchor.......</h1>
        Section 2 anchor.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        <h1 id="section3">Section 3 anchor</h1>
        Section 3 anchor.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......

    </ng-container>
    <!-- End Article -->

    <!-- Post Section Nav -->
    <ng-container class="sections">

        <a routerLink="route" [class.active]="(activeSection | async) === 'section1'" [fragment]="'section1'"
            class="nav-link" (click)="onSectionClick('section1')">Section 1</a>

    </ng-container>
    <!-- End Post Section Nav -->

</app-post>
