<div class="side-nav collapsed" id="side-nav">
    <nav class="navbar">
        <div *ngFor="let group of version.groups" class="nav-item">
            <h3 class="section-title">
                <i class="fa fa-leanpub"></i>
                {{group.title}}
            </h3>
            <a *ngFor="let post of group.posts" [routerLink]="['/docs', version.version, post.id]"
                routerLinkActive="active" class="nav-link">
                {{post.title}}
            </a>
        </div>
        <!-- <div class="nav-item">
            <h3 class="section-title">
                <i class="fa fa-leanpub"></i>
                Section 2
            </h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">
                <i class="fa fa-leanpub"></i>
                Section 3
            </h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">
                <i class="fa fa-leanpub"></i>
                Section 4
            </h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">
                <i class="fa fa-leanpub"></i>
                Section 5
            </h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">
                <i class="fa fa-leanpub"></i>
                Section 6
            </h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">
                <i class="fa fa-leanpub"></i>
                Section 7
            </h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">
                <i class="fa fa-leanpub"></i>
                Section 8
            </h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div> -->
    </nav>
</div>
