<div class="side-nav">
    <nav class="navbar">
        <div class="nav-item">
            <h3 class="section-title">Section 1</h3>
            <a class="nav-link" routerLink="/" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">Section 2</h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">Section 2</h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">Section 2</h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">Section 2</h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">Section 2</h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">Section 2</h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
        <div class="nav-item">
            <h3 class="section-title">Section 2</h3>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 1</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 2</a>
            <a class="nav-link" routerLink="/link1" routerLinkActive="active">Link 3</a>
        </div>
    </nav>
</div>
