<div class="side-nav">
    <nav class="navbar">
        <div class="nav-item">
            <span class="section-title">Section 1</span>
            <a class="nav-link" routerLink="/link1">Link 1</a>
            <a class="nav-link" routerLink="/link1">Link 2</a>
            <a class="nav-link" routerLink="/link1">Link 3</a>
        </div>
        <div class="nav-item">
            <span class="section-title">Section 2</span>
            <a class="nav-link" routerLink="/link1">Link 1</a>
            <a class="nav-link" routerLink="/link1">Link 2</a>
            <a class="nav-link" routerLink="/link1">Link 3</a>
        </div>
        <div class="nav-item">
            <span class="section-title">Section 2</span>
            <a class="nav-link" routerLink="/link1">Link 1</a>
            <a class="nav-link" routerLink="/link1">Link 2</a>
            <a class="nav-link" routerLink="/link1">Link 3</a>
        </div>
        <div class="nav-item">
            <span class="section-title">Section 2</span>
            <a class="nav-link" routerLink="/link1">Link 1</a>
            <a class="nav-link" routerLink="/link1">Link 2</a>
            <a class="nav-link" routerLink="/link1">Link 3</a>
        </div>
        <div class="nav-item">
            <span class="section-title">Section 2</span>
            <a class="nav-link" routerLink="/link1">Link 1</a>
            <a class="nav-link" routerLink="/link1">Link 2</a>
            <a class="nav-link" routerLink="/link1">Link 3</a>
        </div>
        <div class="nav-item">
            <span class="section-title">Section 2</span>
            <a class="nav-link" routerLink="/link1">Link 1</a>
            <a class="nav-link" routerLink="/link1">Link 2</a>
            <a class="nav-link" routerLink="/link1">Link 3</a>
        </div>
        <div class="nav-item">
            <span class="section-title">Section 2</span>
            <a class="nav-link" routerLink="/link1">Link 1</a>
            <a class="nav-link" routerLink="/link1">Link 2</a>
            <a class="nav-link" routerLink="/link1">Link 3</a>
        </div>
        <div class="nav-item">
            <span class="section-title">Section 2</span>
            <a class="nav-link" routerLink="/link1">Link 1</a>
            <a class="nav-link" routerLink="/link1">Link 2</a>
            <a class="nav-link" routerLink="/link1">Link 3</a>
        </div>
    </nav>
</div>
