<div class="post">
    <header class="post-header">
        <h1 class="post-header-text">{{post.title}}</h1>
        <a class="edit-button button" routerLink="/">
            <i class="fa fa-pencil"></i>
            Edit
        </a>
    </header>
    <article id="post-article">
        <template *ngIf="post.fileName | post:version.version | async; let html" dynamic-component
            [componentContext]="self" [componentModules]="dynamicExtraModules" [componentTemplate]="html">
        </template>
    </article>
    <!-- <article id="post-article">
        {{post.fileName | post:version.version | async}}
    </article> -->
</div>
