<div class="post">
    <header class="post-header">
        <h1 class="post-header-text">Section 1</h1>
        <a class="edit-button button" routerLink="/">Edit</a>
    </header>
    <article>
        <h1 id="section1">Section 1 anchor.......</h1>
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        <h1 id="section2">Section 2 anchor.......</h1>
        Section 2 anchor.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        <h1 id="section3">Section 3 anchor</h1>
        Section 3 anchor.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
        <br>
        Some documentation.......
    </article>
</div>
