<div class="post">
    <header class="post-header">
        <h1 class="post-header-text">Section 1</h1>
        <a class="btn btn-outline-primary edit-button">Edit</a>
    </header>
    <article>
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
        Some documentation.......
    </article>
</div>
