<div class="row footer">
    <div class="col-12 footer-links">
        <nav class="navbar">
            <div class="nav-item">
                <a class="nav-link section-title">Docs</a>
                <a routerLink="/" class="nav-link">Getting Started</a>
            </div>
            <div class="nav-item">
                <a class="nav-link section-title">Community</a>
                <a routerLink="/" class="nav-link">Stack Overflow</a>
            </div>
            <div class="nav-item">
                <a class="nav-link section-title">More</a>
                <a routerLink="/" class="nav-link">GitHub</a>
            </div>
        </nav>
    </div>
    <div class="col-12 footer-copy-right">
        Copyright &copy; 2019 DotNet Validator
    </div>
</div>
